/* #region BASIC */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}
/** MOBILE STYLES */

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
}

/* #endregion */
/* !==================== */
/* #region PROJECT STYLES */

/* #endregion */
/* !==================== */
/* #region FOOTER STYLES*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  color: #f4f4fd;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  margin-right: 120px;
}

.footer-block-title {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer .social-links {
  gap: 16px;
}
.social-media {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer .icon {
  fill: #f4f4fd;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}

/* Subcribe form */

.footer-form {
  display: flex;
  align-items: end;
  gap: 24px;
  max-width: 453px;
}

.subscribe-input {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  background: transparent;

  padding: 8px 16px;

  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;

  background-color: #4d5ae5;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button .icon {
  margin-left: 16px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

/* #endregion Footer */
/* !==================== */
/* #region MODAL STYLES */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 4px;
  width: 408px;
  min-height: 584px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn .icon {
  fill: #2e2f42;
  padding: 0;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon,
.modal-close-btn:focus .icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.contact-form-field {
  margin-bottom: 8px;
}

.contact-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.contact-input-container {
  position: relative;
}

.contact-form-input {
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: #4d5ae5;
}

.contact-input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-input-icon {
  fill: #4d5ae5;
}

.contact-form-comment {
  margin-bottom: 16px;
}

.contact-form-input:last-child {
  height: 120px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
}

.contact-form-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.user-privacy-field {
  margin-bottom: 24px;
}
/* Checkbox */

.form-button > .checkbox-container {
  margin-bottom: 24px;
}

.checkbox-field {
  margin-bottom: 24px;
}

.custom-chekbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .contact-form-label > .custom-chekbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-button {
  display: block;

  margin: 24px auto 0px;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

/* #endregion */
